{
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "describe": false,
    "document": false,
    "module": false,
    "expect": false,
    "it": false,
    "sinon": false,
    "TestUtil": true
  }
}
