{
  "extends": "openlayers",
  "globals": {
    "Ext": false,
    "GeoExt": false,
    "ol": false
  },
  "rules": {
    "consistent-this": [1, "me"],
    "indent": [1, 4, { "VariableDeclarator": 1 }],
    "max-len": [2, 80, 4],
    "one-var": [2, "never"],
    "quote-props": [1, "consistent"],
    "valid-jsdoc": [2, {
        "prefer": {
            "returns": "return"
        },
        "requireReturn": false
    }]
  }
}
